@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
header{
    background-image: url("../img/banniere.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
    position: relative;
}
#recherche{
    position: absolute;
    left: 45%;
    bottom: 50%;
}

.wrapper{
    max-width: 900px;
    margin: 0 auto;
}

section{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.bloc_article{
    display: flex;
}
img{
    float: left;
    width: 150px;
    margin-top: 18px;  
}
.description{
    margin-left: 15px;
}
footer{
    text-align: center;
    margin: 10px 0;
}
footer a{
    margin-left: 15px;
}
a, a:hover, a:visited{
    color: blue;
    text-decoration: none;
}
.hidden{
    opacity: 0;
}

button{
    background-color: transparent;
    border: 1px solid black;
    border-radius: 15px;
    padding: 5px;
}
#search{
    border-radius: 10px;
    border: none;
    padding: 5px;
}

.title-center{
    text-align: center;
}